Algorithms/.ipynb_checkpoints/DNN-checkpoint.ipynb
.ipynb_checkpoints/instructions_project_2023-checkpoint.pdf
.ipynb_checkpoints/training_data-checkpoint.csv
Algorithms/.ipynb_checkpoints/dataset-checkpoint.py
Algorithms/__pycache__/Dataset.cpython-38.pyc
Algorithms/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Algorithms/Untitled.ipynb
